<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" text="text/css" href="/assets/main.css">
    <meta charset="utf-8">
    <title> Task List </title>
  </head>

  <body>
    <hr>
    <h2>Items Left to Do</h2>
    <hr>
    <ol>
      <% $task_list.each do |task|
        if task.completed == "false"%>
          <li><a href="http://localhost:3001/tasks/<%=task.id%>/complete"> ✘</a>
            <a href="http://localhost:3001/tasks/<%=task.id%>"> <%=task.body%></a></li>
        <%end
      end%>
    </ol>
    <hr>
    <hr>
    <h2>Items Completed</h2>
    <hr>
    <ol>
      <% $task_list.each do |task|
        if task.completed == "true"%>
          <li> ✔ <a href="http://localhost:3001/tasks/<%=task.id%>"><%=task.body%></a></li>
        <%end
      end%>
    </ol>
    <hr>

  </body>

</html>
